.open-button{
    margin-bottom: 8px;
    background-color:#ebac76; 
    color: #293250;
    border-radius: 8px;
    border-color: #ebac76; 
    font-size: 16px;
    cursor: pointer;
    width: 100px;
    height: 30px;
}
.popup-prijava {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #234b7a;
    /*
    z-index: 9;
    */
  }

  .prijava-container {
    max-width: 300px;
    padding: 10px;
    background-color: #9cd0e8;
  }

  .prijava-container input[type=text]{
    width: 90%;
    padding: 15px;
    margin: 5px 0 10px 0;
    border: none;
    background-color: rgb(108, 137, 195);
  }

  .prijava-container input[type=email]{
    width: 90%;
    padding: 15px;
    margin: 5px 0 10px 0;
    border: none;
    background-color: rgb(108, 137, 195);
  }
  
  .prijava-container input[type=text]:focus{
    background-color: #ddd;
    outline: none;
  }

  .prijava-container .btn{
    background-color:#ebac76;
    color: #293250;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    margin-bottom:10px;
    opacity: 0.8;
    border-radius: 8px;
  }

label.error{
  color: red;
  font-size: 12px;
  display: flex;
  margin-top: 0;
  margin-bottom: 2px;
  padding: 0;
}


  
